<form name="form">
  <input type="text" id="my-input" />
</form>

<button phx-click={ JS.set_attribute({"value", "hello"}, to: "#my-input") }>Add "Hello"</button>
<button phx-click={ JS.set_attribute({"value", "world"}, to: "#my-input") }>Append "World"</button>

<button phx-click={ JS.set_attribute({"value", ""}, to: "#my-input") }>Reset Input</button>