<form name="form">
  <input type="text" name="input" id="input" />
</form>

<button phx-click={ JS.set_attribute({"value", "hello"}, to: "#input") } value={ "hello" }>Hello</button>
<button phx-click={ JS.set_attribute({"value", "world"}, to: "#input") } value={ "world" }>World</button>